@import url(index.css);

.formulario {
  max-width: 40%;
  height: fit-content;
  padding: 20px;
  margin: 70px auto;
  text-align: center;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #086075;
  border-radius: 8px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6);
}

fieldset {
  margin: 10px 0 20px 0;
  padding: 10px 20px;
}

legend {
  text-align: left;
  margin-left: 15px;
  padding: 0 5px;
}

.formulario h2 {
  padding: 10px;
}

label {
  display: block;
  float: left;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  border: 2px solid #075669;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

#contenedor-evento,
#contenedor-mod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

input[type="radio"],
[type="checkbox"] {
  scale: 1.5;
  margin-right: 10px;
  margin-bottom: -3px;
}
input[type="date"] {
  width: 50%;
}

select,
#año {
  padding: 10px;
  text-align: center;
  border: 2px solid #075669;
  border-radius: 5px;
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
  
}

textarea {
  resize: none;
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  font-size: 16px;
  border: 2px solid #075669;
  border-radius: 8px;
  padding: 5px;
  box-sizing: border-box;
}

/*---- BOTONES ----*/

#submit {
  width: 75%;
  height: 45px;
  color: #ffffff;
  background-color: #043a47;
  border: 2px solid #075669;
  border-radius: 8px;
  margin-top: 20px;
  padding: 0 5px;
  cursor: pointer;
}

#clear {
  width: 55%;
  height: 30px;
  color: #ffffff;
  background-color: #043a47;
  border-color: #075669;
  border-style: solid;
  border-radius: 8px;
  margin: 10px 0; 
  padding: 0 5px;
  cursor: pointer;
}

p {
  font-size: 12px;
  margin-top: 10px;
}

#condiciones {
  margin: auto;
}

#condiciones input[type="checkbox"] {
  margin-top: 10px;
}
#condiciones a {
  text-decoration: none;
  color: rgb(79, 247, 191);
}

/*----- DISEÑO RESPONSIVO -----*/

/* Adaptación de ancho fijo de resoluciones de más de 1300px de ancho.*/
/* Por la estructura y tamaños de la página base, se adapta a esta resolución sin modificaciones*/


/* Adaptación para tablets, usando de referencia iPad Air 
(opción predefinida en las herramientas de desarrollador de Chrome.
Adapta tanto en vertical como en horizontal gracias a los ajustes de diseño base */
@media screen and (min-width: 820px) and (max-width: 1300px) {
  .formulario {
    
    max-width: 60%;
    font-size: 1.5em;
  }
}

/* Adaptación para móviles, usando de referencia iPhone 12 Pro 
(opción predefinida en las herramientas de desarrollador de Chrome 
Adapta tanto en vertical como en horizontal gracias a los ajustes de diseño base */

@media screen and (min-width: 390px) and (max-width: 819px) {
  .formulario {
    max-width: 85%;
    margin-top: 20px;
    font-size: 0.9em;
  }

  select,
  #año,
  input[type="date"] {
    width: 75%;
  }
}
